.hero {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/train.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 35vw;
    width: 100%;
    h1 {
        position: relative;
        z-index: 1;
        font-family: 'Open Sans', sans-serif;
        color: rgba(255,255,255,1);
        text-align: center;
        font-size: 4rem;
        width: auto;
        margin: 17.5vw auto 0;
        /*-webkit-transition: 1s opacity ease-in-out;*/
    }
}
.wrapper {
    position: absolute;
    z-index: 1000;
    top: 40vw;
    background: $white1;
    height: 100vh;
    width: 100%;
    .content {
        lost-center: 1200px;
        .content_about {
            padding: 0;
            margin: 0;
            display: flex;
            @media only screen and (max-width:632px) {

            }
            -webkit-flex-flow: row wrap;
            justify-content: space-around;
            div {
                padding: 5px;
            }

            .content_about-picture {
                background: url("../images/profile.jpg");
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                height: 350px;
                width: 300px;
                margin-top: -150px;
            }
            .content_about-education {
                height: 350px;
                background: $white2;
                margin-top: -150px;
                width: 300px
            }
            .content_about-cv {
                height: 350px;
                background: $white2;
                margin-top: -150px;
                width: 300px
            }
        }
        .content_portfolio {
            padding: 0;
            margin: 0;
            display: flex;
            -webkit-flex-flow: row wrap;
            justify-content: space-around;
            div {
                background: tomato;
                padding: 5px;
                width: 400px;
                height: 350px;
                margin-top: 10px;
            }
        }
    }
}
