@lost flexbox flex;
* {
    //lost-utility: edit;
}
.grid-center {
    lost-center: 980px;
    height: 100%;
}
.hero-image {
    background: url("../images/mountain.jpg");
    position: relative;
    height: 30vw;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.content_about {
    position: relative;
    min-height: 400px;
    div {
        lost-column: 1/3;
        background: $white2;
        height: 300px;
        z-index: 999;
        @media (max-width: 700px) {
            lost-column: 1/1;
        }
    }
    &-education {}
    &-bymalmros {}
    &-work {}
}
.content_portfolio {
    width: 100%;
    lost-center: max-width;
    div {
        lost-column: 1/4 4 10px flex;
        background: $white2;
        height: 300px;
        @media (max-width: 700px) {
            lost-column: 1/2;
        }
    }
}
.content_skills {
    width: 100%;
    lost-center: max-width;
    div {
        lost-column: 1/1;
        background: $white1;
        height: 300px;

        @media (max-width: 700px) {
            lost-column: 1/1;
        }
    }
}

.content_contact {
    width: 100%;
    lost-center: max-width;
    div {
        lost-column: 1/1;
        background: $white1;
        height: 300px;

        @media (max-width: 700px) {
            lost-column: 1/1;
        }
    }
}
